webpt:
  build: ./webdata
  ports:
    - "8080"

cassandra:
  build: ./cassandra
  ports:
    - "9042"
    - "7000"
    - "7001"
    - "7199"
    - "9160"
  volumes:
  - ./cassandra/conf:/opt/apache-cassandra-3.0.0/conf

kafka:
  build: ./kafka
  ports:
    - "9082"
    - "2282"
  volumes:
    - kafka/config:/opt/kafkaconfig

redis:
  build: ./redis
  ports:
   - "6390"
  volumes:
   - redis/conf:/opt/redisconf/
